body{
    background-color: rgb(32, 30, 54);
}

.navbar{
    background-color: rgb(32, 30, 54);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar .container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#title{
    font-size: 1.2rem;
}

.menu ul, .icons ul{
    list-style: none;
    display: flex; 
}

.menu-links, .icons-links{
    color: white;
    text-decoration: none;
    padding: 0 15px;
    display: inline-block;
}

.menu-links:hover, .icons-links:hover{
    color: rgb(98, 93, 161);
}

.icons-links svg{
    width: 20px;
    height: 20px;
    fill: white;
}

.icons-links:hover svg{
    fill:rgb(98, 93, 161);
}

.About, .Project, .footer{
    color: white;
}

.bi:hover {
    color: rgb(98, 93, 161) !important;
    cursor: pointer;
}

.card{
    background-color: rgb(164, 160, 205) !important;

}
.footer{
    text-align: center;
}